/* Templating for all pages */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

p, h1, h2, h3, h4, input, a, button, label, div, li, ul, textarea {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .05rem;
    font-weight: 100;
}

/* Navigation styles */
.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

#title-p2 {
    color: #29a71898
}

.nav-links {
    list-style: none;
    padding: .5rem 0rem;
}

.nav-links li {
    display: inline-block;
    padding: .5rem 1rem;
    cursor: pointer;
    font-size: 1em;
}

.nav-link:hover {
    background-color: #29a71852;
    border-radius: 10px;
}

.nav-links li, a  {
    text-decoration: none;
}

.active-page {
    opacity: 85%;
    background-color: #29a71898;
    color: #fff;
    border-radius: 10px;
}

.default-button {
    color: #29a71898;
    font-size: 1em;
    padding: .5rem 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    border: solid 2px #29a71898;
    transition: all 0.3s ease 0s;
    width: fit-content;
    font-weight: bold;

}

.default-button:hover {
    opacity: 85%;
    background-color: #29a71898;
    color: #fff;
}

.main {
    padding: 2rem 15% 2rem 15%;
    text-align: center;
    background-color: #4dc23e65;
}

.content-title {
    text-align: center;
}


/* WELCOME PAGE STYLES */

.arr img {
    width: 2rem;
}

.hero{
    background-color: #f2f2f2;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 5rem 15%;

}

.hero-text{
    padding-left: 3rem;
    width: 70%;
}

.hero-image{
    display: flex;
    justify-content: center;
    width: 30%;
}

.hero .hero-title, .hero-subtitle, .hero-text {
    padding-right: .35rem;
}

.hero-subtitle{
    color: #29a71898;
}

.hero-para {
    padding: 1rem 0rem;
    font-size: large;
}

.hero-link{
    margin: 0rem 1rem 0rem 0rem;
    width: 7rem;
    text-align: center;
}

.hero-image img {
    width: 65%;
    align-self: center;

}
.welcome-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    justify-content: space-around;
}

.welcome-content div {
    width: 30%;
    padding: 1rem;
}

.welcome-content div img {
    height: 13rem;
    padding-bottom: .5rem;
}


/* SIGN IN/UP PAGE */

.main-subpage {
    padding: 5rem 15% 2rem 15%;
}

.subpage-content{
    width: 100%;
    border: 1px;
    border-radius: 10px;
}

/* DASHOBOARD STYLES */

.main-dashboard {
    padding: 2rem 15% 2rem 15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap ;
}

.dashboard-main-panel{
    flex: 3;
    height: 30rem;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
}


.dashboard-icons{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0rem;
    overflow-y: scroll;
    height: 85vh;
}


.dash-icon {
    background-color: #fff;
    min-height: 12rem;
    width: 100%;
    margin: .3rem;
    border-radius: 10px;
}

.dash-icon h2, hr, p {
    margin: .5rem;
}

.dash-icon div {
    float: left;
}

.dash-icon img {
    object-fit: cover;
    height: 100%;
    max-width: 10rem;
    max-height: 10rem;
    float: left;
    padding: 1rem;

}

.dashboard-side-panel{
    flex: 1;
    width: 100%;
    border: 1px;
    background-color: #fff;
    border-radius: 10px;
    height: 15rem;
    padding: 1rem;
    margin-top: 5.5rem;
    text-align: center;
}

.panel-content div {
    width: 100%;
    margin-top: 6rem;
}

.panel-content {
    height: 10rem;
    overflow-y: scroll;
}

.panel-content h3 {
    border-radius: 10px;
    width: 100%;
    padding: 1rem 0rem;
    text-align: center;
}

hr {
    margin: .5rem;
}

/* MONEY SAVING TIPS PAGE */

.saving-tips{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

.tip-icon {
    margin: .5rem;
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
}

.tip-icon h3 {
    margin: .9rem;
}

.tip-icon p {
    margin: 1rem;
}

.tip-icon img {
    object-fit: cover;
    height: 100%;
    max-width: 3rem;
    max-height: 3rem;
    float: left;
    padding: .5rem;
    margin: 0rem 0rem 0rem .5rem;
    border-radius: 100px;
}

.saving-tips-intro {
    background-color: #fff;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}




/* CONTACT PAGE */

.contact-us{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    background-color: #fff;

}

.contact-us div {
    margin: 1rem;
    width: 45%;
}

.contact-form form ul li {
    text-decoration: none;
    list-style: none;
    padding: .5rem;
}

.contact-form form ul li input {
    border-radius: 10px;
    height: 2rem;
    width: 55%;
    border: 2px solid black;

}

.contact-form form ul li textarea {
    border-radius: 10px;
    height: 10rem;
    max-height: 10rem;
    max-width: 95%;
    width: 95%;
    border: 2px solid black;

}

.contact-side-text {
    text-align: center;
}

/* ABOUT PAGE */

.about {
    text-align: center;
    background-color: #fff;
}

.about-text {
    padding: 1rem 2rem;
}

.about h3 {
    font-style: italic;
    color: rgba(64, 56, 56, 0.498);
    margin: 1rem 8rem;
}

.about p {
    padding: 2rem 5rem;
}

.about hr {
    width: 50%;
    align-items: center;
    margin: 0% 25% ;
}

/* BUDGET REPORT */

.budget-report {
    background-color: #fff;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.month-option {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.month-option div {
    margin: .2rem 1rem;
    width: 20%;
}


.month {
    padding: .5rem;
    border: 1px solid;
    border-radius: 90px;

}

.month:hover {
    cursor: pointer;
}

.active-month {
    background-color: #29a71852;

}

/* CALENDAR PAGE */

.calendar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.calendar div {
    margin: .5rem;
    flex: 2;

}

.calendar input {
    width: 100%;
    border-radius: 10px;
    padding: .5rem;
    margin-bottom: 1rem;
    margin-top: .25rem;
}









/* RESPONSIVE DESIGN */

@media(max-width:1100px) {
    .main {
        padding-left: 3%;
        padding-right: 3%;
    }

    .main-subpage {
        padding-left: 3%;
        padding-right: 3%;
    }

    .contact-us div {
        width: 90%;
    }

    .header {
        padding-left: 3%;
        padding-right: 3%;
        font-size: large;
    }

    .hero {
        padding-left: 3%;
        padding-right: 3%;
    }

    .main-dashboard {
        padding-left: 3%;
        padding-right: 3%;
    }

    .welcome-content div {
        width: 90%;
        padding: 1rem;
    }

    .welcome-content {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2rem;
        justify-content: space-around;
}

    .welcome-content div img {
        height: 7rem;
        padding: .5rem;
        float: left;
    }

    .tip-icon {
        margin: .5rem;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
    }

    .tip-icon img {
        margin-top: .5rem;
    }
}

.content-404 {
  text-align: center;
}

.content-404 > h1 {
  font-size: 500%;
}

.content-404 > h2 {
  font-size: 250%;
}

.content-404 > h3 {
  font-size: 200%;
}

.content-404 > h3 > a {
  color: #3366BB;
  text-decoration: underline;
}

.green-colour {
  color: #29a71898;
}

.flex-container {
  display: flex;
}

#dateSelector {
  justify-content: space-evenly;
}

.center-text {
  text-align: center;
}

.transaction, #newPurchaseButton {
  border-radius: 10px;
  margin: 4px;
  padding: 6px;
  background-color: #ffffff;
}

#newPurchaseButton {
  text-align: center;
  background-color: #29a71898;
  cursor: pointer;
}

.purchase-form {
  justify-content: space-between;
}

#submitPurchaseButton {
  cursor: pointer;
  background-color: #29a71898;
}

#cancelPurchaseButton {
  cursor: pointer;
  background-color: #dc281898;
}

#purchases {
  border-radius: 12px;
  border: 1px solid black;
  height: 58vh;
  overflow-y: scroll;
}

.transaction-preview {
  justify-content: space-between;
  cursor: pointer;
}

.transaction-date {
  width: 10%;
  text-align: left;
}
.transaction-title {
  width: 80%;
  text-align: center;
}
.transaction-price {
  width: 10%;
  text-align: right;
}

.income {
  color: green;
}
.expenditure {
  color: red;
}

.even-space {
  justify-content: space-evenly;
}

#editButton {
  background-color: #FFC30B98;
}

#deleteButton {
  background-color: #dc281898;
}

.button {
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  width: 25%;
  font-size: 150%;
  padding: 4px;
}

#editForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  max-width: 30em;
  margin: 36px;
}

#modalTitle {
  background-color: #f2f2f2;
  padding: 24px;
  padding-bottom: 12px;
}

#modalBody {
  text-align: center;
  padding-bottom: 36px;
}

#editSubmit {
  cursor: pointer;
  border-radius: 16px;
  border: none;
  background-color: #29a71898;
  padding: 12px;
  width: 40%;
}

/* Modal Styles taken from https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.modal-close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  padding: 12px;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
